<div class="flex flex-col items-center bg-transparent-100 p-5 overflow-auto mb-10 mt-10">

    <h2 class="text-2xl font-bold mb-4">Last search</h2>
    <div *ngIf="isLoading" class="flex justify-center items-center mb-4">
      <svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
      </svg>
    </div>
    <div class="flex gap-4">
        <app-card
        *ngFor="let item of history"
        [city]="item.city"
        [weather]="item.weather"
        [temperature]="item.temperature"
        [feelsLike]="item.feelsLike"
        [icon]="item.icon"
    >
    </app-card>
    </div>
  </div>
  