<div
  class="card glassmorph bg-white bg-opacity-20 glassBorder p-6 rounded-2xl shadow-lg dark:bg-gray-800"
>
<div
  class="flex flex-col md:flex-row items-center md:justify-between md:space-x-6"
>
    <div class="text-center md:text-left mb-4 md:mb-0">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white">
        {{ locationName }}
      </h2>
      <p class="text-sm text-gray-500 dark:text-gray-300">Weather forecast for the next 3 days</p>
    </div>
    <button class="glassmorph rounded-full" (click)="onToggleFavorite()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-current" [ngClass]="isFavorite ? 'fill-red-500' : 'fill-white'" viewBox="0 -960 960 960">
        <path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/>
      </svg>
    </button>
  </div>

  <hr class="my-6 border-gray-300 dark:border-gray-600" />

  <!-- First Day Container -->
  <div *ngIf="firstDayWeather.length > 0">
    <h3 class="text-md font-bold mb-2 text-black">
      {{ firstDayWeather[0].day | date : "EEEE, MMMM d" : "" : "en-US" }}
    </h3>
    <div class="overflow-x-auto mb-5">
      <div class="flex space-x-4">
        <div
          *ngFor="let weather of firstDayWeather"
          class="flex-shrink-0 p-4 glassBorder dark:bg-gray-700 rounded-lg shadow-inner flex flex-col items-center w-32"
        >
          <p class="font-bold text-gray-900 text-sm">
            {{ weather.temperature | tempConverter: unit }}°{{ unit }}
          </p>
          <img
            [src]="weather.iconUrl"
            [alt]="weather.weather"
            class="w-10 h-10 my-1"
          />
          <p class="text-gray-900 text-xs font-semibold">{{ weather.time }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Day Container -->
  <div *ngIf="secondDayWeather.length > 0">
    <h3 class="text-md font-bold mb-2 text-black">
      {{ secondDayWeather[0].day | date : "EEEE, MMMM d" : "" : "en-US" }}
    </h3>
    <div class="overflow-x-auto mb-5">
      <div class="flex space-x-4">
        <div
          *ngFor="let weather of secondDayWeather"
          class="flex-shrink-0 p-4 glassBorder dark:bg-gray-700 rounded-lg shadow-inner flex flex-col items-center w-32"
        >
          <p class="font-bold text-gray-900 text-sm">
            {{ weather.temperature | tempConverter: unit}}°{{ unit }}
          </p>
          <img
            [src]="weather.iconUrl"
            [alt]="weather.weather"
            class="w-10 h-10 my-1"
          />

          <p class="text-gray-900 text-xs font-semibold">{{ weather.time }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Day Container -->
  <div *ngIf="thirdDayWeather.length > 0">
    <h3 class="text-md font-bold mb-2 text-black">
      {{ thirdDayWeather[0].day | date : "EEEE, MMMM d" : "" : "en-US" }}
    </h3>
    <div class="overflow-x-auto">
      <div class="flex space-x-4">
        <div
          *ngFor="let weather of thirdDayWeather"
          class="flex-shrink-0 p-4 glassBorder dark:bg-gray-700 rounded-lg shadow-inner flex flex-col items-center w-32"
        >
          <p class="font-bold text-gray-900 text-sm">
            {{ weather.temperature | tempConverter: unit }}°{{ unit }}
          </p>
          <img
            [src]="weather.iconUrl"
            [alt]="weather.weather"
            class="w-10 h-10 my-1"
          />
          <p class="text-gray-900 text-xs font-semibold">{{ weather.time }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
