<div class="container mx-auto flex justify-around" role="main">
    <button routerLink="/home" class="btnGlassHeader">SunnyWeather</button>

    <form [formGroup]="searchForm" class="flex justify-center glassmorph glassBorderHeader py-2 px-4">
        <input type="text" formControlName="cityName" placeholder="Entrez le nom de la ville" class="input input-bordered w-full max-w-xs" />
        <label class="swap">
            <input type="checkbox" />
            <div class="swap-on">°F</div>
            <div class="swap-off">°C</div>
        </label>
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn">
                {{ value }}
                <svg width="12px" height="12px" class="inline-block h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"> 
                    <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                </svg>
            </div>
            <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
                <li>
                    <input type="radio" name="timeOption" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Daily" value="Daily" formControlName="timeOption" />
                </li>
                <li>
                    <input type="radio" name="timeOption" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="3 Days" value="3 Days" formControlName="timeOption" />
                </li>
                <li>
                    <input type="radio" name="timeOption" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Weekly" value="Weekly" formControlName="timeOption" />
                </li>
            </ul>
          </div>
    </form>

    <div class="gap-4 flex">
        <button routerLink="/#" class="btnGlassHeader">Login</button>
        <button routerLink="/#" class="btnGlassHeader">Register</button>
    </div>
</div>