<div class="container mx-auto flex md:flex-row flex-col justify-around" role="main">
  <button routerLink="/home" class="btnGlassHeader">Sunny App</button>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
    class="flex items-center space-x-4 glassmorph glassBorderHeader py-2 px-4"
  >
    <input
      type="text"
      formControlName="cityName"
      placeholder="Entrez le nom de la ville"
      class="input input-bordered md:w-64 w-40 text-gray-200"
      required
    />
    <label class="swap flex items-center">
      <input type="checkbox" formControlName="unit" (change)="onSubmit()"/>
      <span class="swap-on">°F</span>
      <span class="swap-off">°C</span>
    </label>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn">
        {{ value }}
        <svg
          width="12px"
          height="12px"
          class="inline-block h-2 w-2 fill-current opacity-60"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048"
        >
          <path
            d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
          ></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content bg-base-300 rounded-box z-[1] md:w-52 w-32 p-2 shadow-2xl"
      >
        <li>
          <input
            type="radio"
            name="timeOption"
            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Daily"
            value="Daily"
            formControlName="timeOption"
            (change)="selectTimeOption('Daily')"
          />
        </li>
        <li>
          <input
            type="radio"
            name="timeOption"
            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
            aria-label="3 Days"
            value="3 Days"
            formControlName="timeOption"
            (change)="selectTimeOption('3 Days')"
          />
        </li>
      </ul>
    </div>
  </form>
  <div class="flex gap-4">
    <button *ngIf="!isAuthenticated" routerLink="/login" class="btnGlassHeader">Login</button>
    <button *ngIf="!isAuthenticated" routerLink="/signup" class="btnGlassHeader">Signup</button>
    <button *ngIf="isAuthenticated" (click)="logout()" class="btnGlassHeader">Logout</button>
  </div>
</div>
