<div class="flex flex-col items-center bg-transparent-100 p-40 overflow-auto">
  <!-- Loader -->
  <div *ngIf="isLoading" class="flex justify-center items-center mb-4">
    <svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
    </svg>
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
    {{ errorMessage }}
  </div>

  <button *ngIf="hasSearched" class="glassmorph rounded-full" (click)="addFavorite('1', locationId)">Add Fav</button>

  <app-daily-detailed-card
    *ngIf="hasSearched && currentWeatherType === 'daily' && !errorMessage" 
    [locationName]="locationName"
    [currentDate]="date"
    [mainTemperature]="mainTemperature"
    [weatherDescription]="weatherDescription"
    [currentWeatherIconUrl]="currentWeatherIconUrl"
    [oneDayWeather]="oneDayWeather"
    [feelsLikeTemperature]="feelsLikeTemperature"
    [weatherCondition]="weatherCondition"
    [windSpeed]="windSpeed"
    [humidity]="humidity"
    [cloudCoverage]="cloudCoverage"
    [minTemperature]="minTemperature"
    [maxTemperature]="maxTemperature"
    [unit]="unit"
  ></app-daily-detailed-card>

  <app-three-days-card
    *ngIf="hasSearched && currentWeatherType === 'next-3-days' && !errorMessage"
    [locationName]="locationName"
    [currentDate]="date"
    [mainTemperature]="mainTemperature"
    [weatherDescription]="weatherDescription"
    [currentWeatherIconUrl]="currentWeatherIconUrl"
    [threeDaysWeather]="threeDaysWeather"
    [unit]="unit"
  ></app-three-days-card>
</div>
