<div class="flex flex-col items-center bg-transparent-100 p-5 overflow-auto mb-10">
  <!-- Loader -->
  <div *ngIf="isLoading" class="flex justify-center items-center mb-4">
    <svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
    </svg>
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
    {{ errorMessage }}
  </div>

  <button *ngIf="hasSearched" class="glassmorph rounded-full mb-10" (click)="addFavorite(userId, locationId)">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-current" [ngClass]="isFavorite ? 'fill-red-500' : 'fill-white'" viewBox="0 -960 960 960">
      <path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/>
    </svg>
  </button>

  <app-daily-detailed-card
    *ngIf="hasSearched && currentWeatherType === 'daily' && !errorMessage" 
    [locationName]="locationName"
    [currentDate]="date"
    [mainTemperature]="mainTemperature"
    [weatherDescription]="weatherDescription"
    [currentWeatherIconUrl]="currentWeatherIconUrl"
    [oneDayWeather]="oneDayWeather"
    [feelsLikeTemperature]="feelsLikeTemperature"
    [weatherCondition]="weatherCondition"
    [windSpeed]="windSpeed"
    [humidity]="humidity"
    [cloudCoverage]="cloudCoverage"
    [minTemperature]="minTemperature"
    [maxTemperature]="maxTemperature"
    [unit]="unit"
  ></app-daily-detailed-card>

  <app-three-days-card
    *ngIf="hasSearched && currentWeatherType === 'next-3-days' && !errorMessage"
    [locationName]="locationName"
    [currentDate]="date"
    [mainTemperature]="mainTemperature"
    [weatherDescription]="weatherDescription"
    [currentWeatherIconUrl]="currentWeatherIconUrl"
    [threeDaysWeather]="threeDaysWeather"
    [unit]="unit"
  ></app-three-days-card>
</div>
